<br /><br /><br />
<div class="start-pages signup-login">
  <h2 class="blue-bold">Log In</h2><br>
  <%= form_for :user do |f| %>
     <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-envelope fa-lg fa-fw"></span></span>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
    <br /><br />
   
    <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-key fa-lg fa-fw"></span></span>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
    </div>
    <br />
    <%= f.submit "Log In with Email", :class => 'btn btn-block btn-success' %><br />
  <% end %>
  <%= link_to "Log In with Facebook", '/auth/facebook', :class => 'btn btn-block btn-primary' %>
  <br /><br />
</div>

