<div class="start-pages signup-login">
  <h2 class="blue-bold">Sign Up!</h2><br>
    <%= form_for @user do |f| %>
      <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-envelope fa-lg fa-fw"></span></span>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
      <br /><br />
      <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-user fa-lg fa-fw"></span></span>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Username' %>
      </div>
      <br /><br />
      <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-key fa-lg fa-fw"></span></span>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
    </div>
      <br /><br />
      <%= f.submit "Create Account", :class => 'btn btn-block btn-success' %>
      <br />
    <% end %>
   
    <div class="user-errors">
      <% if @user.errors.any? %>
        <div id="error_explanation">
            <p><%= pluralize(@user.errors.count, "error") %> Prohibited this account from being created:</p>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

</div>
