<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>

<div>
 <h4 class="text-right">
    All Contacts <span class="badge"><%= current_user.albums.count %></span>
  </h4>
<h4 class="text-left"><%= link_to "New Contact", new_album_path, id:"add_album", class: "fa fa-plus" %></h4></div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="text-center">Full Name</th>
      <th class="text-center">Mobile</th>
      <th class="text-center">Email</th>
      <th class="text-center">Address</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td class="text-justify", style="width: 15%"><%= album.name %></td>
        <td class="text-justify", style="width: 15%"><%= album.phone %></td>
        <td class="text-justify", style="width: 20%"><%= album.email %></td>
        <td class="text-justify", style="width: 20%"><%= album.address %></td>
        <td class="text-center", style="width: 30%">
          <ul class="btn">
             <li class="element"><%= link_to edit_album_path(album), id:"update_album", class: "btn btn-circle btn-default btn-xs", title: "Edit" do %>
              <i class="fa fa-edit" style="color:green"></i>
            <% end %></li>
            <li class="element"><%= button_to "Delete",  album, id:"delete_album", method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{album.name}?" %></li>
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="text-center">
    <%= will_paginate %>
  </div>