<!DOCTYPE html>
<html>
<head>
  <title>Contact App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <link rel="icon" sizes="16x16" href="https://www.vibranthomes.co.in/wp-content/uploads/2018/02/contact-icon.png">
</head>
<body>
<head>
  <%= render 'layouts/navbar' %>
  </head>
<div class="container" style="padding-top:20px;">

<%= yield %>
</div>
</body>
 <!-- Footer -->
  <div class="footer" style=" position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;">&copy; 2019 Developed by <i class="fa fa-heart" style="color:red"></i>&nbsp;Keren-Happuc Fleurimond</div>

</html>